*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(43, 0, 43);
}
/* Images */
#img1{
    width:320px;
    height:320px;
}

#img2{
    width:320px;
    height:320px;
}

#img3{
    width:320px;
    height:320px;
}

#img4{
    width:320px;
    height:320px;
}
#img5{
    width:320px;
    height:320px;
}

#img6{
    width:320px;
    height:320px;
}

#img7{
    width:320px;
    height:320px;
}

#img8{
    width:320px;
    height:320px;
}
#img9{
    width:320px;
    height:320px;
}

#img10{
    width:320px;
    height:320px;
}

#img11{
    width:320px;
    height:320px;
}

#img12{
    width:320px;
    height:320px;
}
#img13{
    width:320px;
    height:320px;
}

#img14{
    width:320px;
    height:320px;
}

#img15{
    width:320px;
    height:320px;
}

#img16{
    width:320px;
    height:320px;
}
#img17{
    width:320px;
    height:320px;
}

#img18{
    width:320px;
    height:320px;
}

#img19{
    width:320px;
    height:320px;
}

#img20{
    width:320px;
    height:320px;
}
#img21{
    width:320px;
    height:320px;
}

#img22{
    width:320px;
    height:320px;
}

#img23{
    width:320px;
    height:320px;
}

#img24{
    width:320px;
    height:320px;
}
#img24{
    width:320px;
    height:320px;
}

#img25{
    width:320px;
    height:320px;
}

#img26{
    width:320px;
    height:320px;
}

#img27{
    width:320px;
    height:320px;
}
#img28{
    width:320px;
    height:320px;
}

#img29{
    width:320px;
    height:320px;
}

#img30{
    width:320px;
    height:320px;
}

#img31{
    width:320px;
    height:320px;
}
#img32{
    width:320px;
    height:320px;
}

#img33{
    width:320px;
    height:320px;
}

#img34{
    width:320px;
    height:320px;
}

#img35{
    width:320px;
    height:320px;
}
#img36{
    width:320px;
    height:320px;
}
#img37{
    width:320px;
    height:320px;
}
#img38{
    width:320px;
    height:320px;
}
#img39{
    width:320px;
    height:320px;
}
#img40{
    width:320px;
    height:320px;
}
/* Images */
